In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/1_linear_reg/Exercise/canada_per_capita_income.csv")
df.head()

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [3]:
x = df.iloc[:,0:1]
y = df.iloc[:,-1]

In [4]:
from sklearn.model_selection import train_test_split

In [52]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [68]:
# Class for SimpleLinearReg

class simpleLinearReg:
    
    def __init__(self):
        self.m = None # Slope / Weights
        self.b = None # offset
    
    def fit(self, X_train, Y_train):
        
        # To calculate the slope (m)
        
        num = 0
        den = 0
        
        for i in range(X_train.shape[0]):
            
            num = num + (X_train.values[i] - X_train.mean()) * (Y_train.values[i] - Y_train.mean())
            den = den + pow((X_train.values[i] - X_train.mean()),2)
            
        self.m = num/den
        
        self.b = Y_train.mean() - (self.m * X_train.mean())
        
        return self.m,self.b
    
    def pred(self, X_test):
        
        predList = []
        
        for i in range(X_test.shape[0]):
            
            predList.append(self.m * X_test.values[0] + self.b)
            
        return predList

In [69]:
obj = simpleLinearReg()
obj.fit(X_train,Y_train)

(year    796.93682
 dtype: float64,
 year   -1.569692e+06
 dtype: float64)

In [70]:
obj.pred(X_test)

[year    18602.907315
 dtype: float64,
 year    18602.907315
 dtype: float64,
 year    18602.907315
 dtype: float64,
 year    18602.907315
 dtype: float64,
 year    18602.907315
 dtype: float64,
 year    18602.907315
 dtype: float64,
 year    18602.907315
 dtype: float64,
 year    18602.907315
 dtype: float64,
 year    18602.907315
 dtype: float64,
 year    18602.907315
 dtype: float64]

In [65]:
X_test

    year
23  1993
12  1982
42  2012
16  1986
35  2005
43  2013
45  2015
13  1983
14  1984
0   1970